html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://static-cdn.jtvnw.net/jtv_user_pictures/4ccf5878-850e-418d-ae7e-0dc88782bd86-profile_banner-480.png) center / cover  , #100e15;
    margin: 0;
}

main {
    height: 100%;
    margin: 0;
}

#vid {
    width: calc(100% - 350px);
    height: 100%
}

#chat {
    width: 300px;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    float: right;
}

aside {
    background: #EC2A1D;
    width: 50px;
    height: 100%;
    float: left;
}

#logo, #sub, #dono, #twitch {
    width: 50px;
    height: 50px;
    display: block;
    padding: 10px;
    box-sizing: border-box;
}

#logo {
    padding: 0;
}

#twitch {
    background: #392E5C;
    padding: 5px;
}

#sub {
    background: #14B866;
}

#sub svg {
    width: 40px;
}

#dono {
    background: #0085FF
}

aside path {
    fill: #fff;
}

.offline #vid {
    display: none;
}

#offline {
    display: none;
    float: left;
    position: relative;
    color: #eee;
    padding: 64px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

#offline big {
    font-size: 128px;
    background: #ec2a1d;
    color: #fff;
    padding: 0 20px;
}

#offline span {
    margin: 30px;
    display: block
}

.offline #offline {
    display: block;
}